body {
	color: #333;

}

.wow {
    visibility: hidden;
}

/* Color schemes */
.demo-adsila {
	--color-text: #57585c;
	--color-background: #fff;
	--color-link: #5d93d8;
	--color-link-hover: #423c2b;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

/* Common styles for the menus */
.menu {
	position: relative;
	z-index: 10;
}

.menu__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
  float: left;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}

.menu__item-name {
	font-size: 1.25em;
}

.menu__item-label {
	margin: 0 0 0 0.5em;
}
a i:hover {
	color: #555;
}
@media only screen and (max-width: 768px) {
	.menu{
		display: flex;
		flex-direction: column;
	}
}
@media only screen and (max-width: 768px) {
	.grid__item {
		width: 300px !important;
	}
}
@media only screen and (max-width: 768px) {
	.action--close {
		bottom: 0 !important;
		top: auto !important;
		right: auto !important;
	}
}
